<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="${domain}/css/back/model_item.css">
  <#include "common/back_header.html" />
  <title>管理后台首页</title>
  <style type="text/css">
  
  </style>
</head>
<body>
  <div id="app">
    <el-button @click="visible = true">Button</el-button>
    <el-dialog :visible.sync="visible" title="你好啊">
      <p>我是首页啊111</p>
    </el-dialog>
  </div>
</body>
<script>
    new Vue({
      el: '#app',
      data: function() {
        return { visible: false }
      },
	  methods: {
		  
	  },
      created : function() { //创建时
		console.log("后台管理首页加载完毕");
	  }
    })
  </script>
</html>
