<!DOCTYPE html>
<html>
<head>
<#include "common/back_header.html" />
<title>实体列表首页</title>
<style type="text/css">
body {
	margin: 0;
	padding: 0.5%;
	width: 98%;
}

#app {
	padding: 10px;
	padding-left: 20px;
	background-color: white;
}

.buttons {
   padding: 10px 1px 6px 1px;
}
.list_name {
    padding: 11px 1px 11px 1px;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
} 
.page {
    padding: 10px 10px;
    text-align: right;
}

</style>
</head>
<body>
	<div id="app">
		<model-list model="user"> </model-list>
    </div>
</body>
<#include "components/model_list.html" />
<script>
    new Vue({
		el : '#app',
		data : function() {
			return {
				
			}
		},
		methods : {
		},
		created : function() { //创建时
		},
		beforeCreate: function() {
		}
	})
	
</script>
</html>
