<!-- 公共依赖 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="${domain}/image/logo.png" type="image/x-icon"/>
    <!-- import CSS -->
    <link rel="stylesheet" href="${domain}/css/element.css">
    <link rel="stylesheet" href="${domain}/css/common.css">
   
    <!-- import Vue before Element -->
    <script src="${domain}/javascript/vue.js"></script>
    <!-- import JavaScript -->
    <script src="${domain}/javascript/element.js"></script>
    <script src="${domain}/javascript/axio.js"></script>
    
    
    <script type="text/javascript">

       String.prototype.startWith=function(str){
         if(str==null||str==""||this.length==0||str.length>this.length)
           return false;
         if(this.substr(0,str.length)==str)
           return true;
         else
           return false;
         return true;
       }
        
       /**
                    根据axio 发送请求的同意封装 
       */
       function sendRequest(content,url,method,data,callback) {
           axios({     //提交数据到后台
               method: method,
               url: url,
               data: data
           }).then(function (response) {
               //http 状态不对
               if(!response || 200 != response.status){
            	   content.$message.error('请求失败! ' + response?(response.statusText?response.statusText:'请求异常'):'请求异常');
                   callback('HTTP_ERROR');
                   return ;
               }
               callback(response);
          }).catch(function (error) {
              console.log(error);
              content.$message.error('请求异常: '+error);
          });
       }
    </script>