
<!-- 列表展示公共组件 -->
<div id="model_list" style="display:none;">
  <div>
       <div style="display: none;" :style="'display: block;'">
          <div class="buttons">
             <el-button type="primary" icon="el-icon-plus" size="small" @click="modelAddFormVisible = true">添加{{modelName}}</el-button> 
             <el-button type="primary" icon="el-icon-delete" :disabled="!isDeleteEnable" size="small" @click="deleteModels">批量删除{{modelName}}</el-button>
          </div>
          <div class="list_name">{{modelName}}列表</div>
            <template>
              <el-table :data="tableData" border tyle="width: 100%" @selection-change="selectionChange">
                <el-table-column type="selection" width="50"> </el-table-column>
                
                <el-table-column v-for="(item, index) in bean.FIELD_ITEM_LIST" v-if="bean[item].show" :key="item"
                 :prop="item" :label="bean[item].name" :width="bean[item].with">
                </el-table-column>
                
                <el-table-column fixed="right" label="操作" width="200"> 
                  <template slot-scope="scope"> 
                    <el-button type="text" size="small" @click="viewModel(scope.row)">查看</el-button>
                    <el-button type="text" size="small" @click="editModel(scope.row)">编辑</el-button> 
                  </template> 
                </el-table-column>
              </el-table>
           </template>
        </div>
        <div class="page">
            <el-pagination @size-change="pageSizeChange" @current-change="currentChange"
              :current-page="currentPage"
              :page-sizes="pageSizes"
              :page-size=pageSize
              layout="total, sizes, prev, pager, next, jumper"
              :total="totalCount">
            </el-pagination>
        </div>
        <!-- 添加表单 -->
        <div>
          <el-dialog class="inner_dialog" :title="modelAddFormName" :visible.sync="modelAddFormVisible" :close-on-click-modal="false" center top="5vh" width="550px">
              <el-form :model="modelAddForm" :rules="modelAddRules"  ref="modelAddForm" class="inner_table" size="small" label-position="left" :label-width="formLabelWidth">
                <el-form-item  v-for="(item, index) in bean.FIELD_ITEM_LIST" v-if="bean[item].add" :key="item"
                  :label="bean[item].name+':'" :prop="item" >
                  <el-input v-model="modelAddForm[item]" autocomplete="off"></el-input>
                </el-form-item>
              </el-form>
              <div slot="footer" class="dialog-footer">
                <el-button @click="modelAddFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="addModel">确 定</el-button>
              </div>
            </el-dialog>
        </div>
    </div>
</div>
<script type="text/javascript">
    //注册为一个组件
    Vue.component("model-list",{
        template: '#model_list',
        props: {
            model: String
        },
        data : function() {
            return {
                modelName: '用户',
                bean: {},  //实体信息
                tableData: [],  //表单内容
                multipleSelection: [],  //多选列表
                currentPage: 0, 
                pageSizes: [10, 20, 30, 40],
                pageSize: 20,
                totalCount: 0,
                modelAddForm: {},
                modelAddFormVisible: false,
                modelAddFormName: "",
                modelAddRules: {},
                modelEditForm: {},
                modelEditFormName: "",
                modelEditRules: {},
                formLabelWidth: '100px'
                	
            }
        },
        computed: {
            isDeleteEnable() {
                return this.multipleSelection && this.multipleSelection.length;
            }
        },
        methods : {
            selectionChange(val) {  //多选时
               this.multipleSelection = val.map((item,index,arr) => {
                    return item.id //新数组为10,20,30,40
                })
            },
            deleteModels() {   //批量删除
                console.log("批量删除");
                console.log(this.multipleSelection);
            },
            addModel() {   //添加
                console.log("添加");
                console.log(this.modelAddForm)
            },
            viewModel(model) {   //查看
                console.log("查看");
                console.log(model);
            },
            editModel(model) {   //编辑
                console.log("编辑");
                console.log(model);
            },
            pageSizeChange(val) {   //分页大小变化
                console.log("分页大小变化:"+val);
            },
            currentChange(val) {   //当前页变化
                console.log("当前页变化:"+val);
            }
            
        },
        created : function() { //创建时
            console.log("用户管理列表加载完毕");
          //请求并初始化数据和结构
            let that = this;
            sendRequest(this,'${domain}/model/info/'+this.model.toLowerCase(),'GET',null,function(res){
                console.log(res);
                if(res.data){
                    that.modelName = res.data.modelName;
                    that.modelAddFormName = "添加"+that.modelName;
                    that.modelEditFormName = "编辑"+that.modelName,
                    that.bean = res.data.beanInfo;
                    let addForm = {};
                    let editForm = {};
                    let addRules = {};
                    let editRules = {};
                    if(res.data.beanInfo){
                        for(let key in res.data.beanInfo){
                            if('FIELD_ITEM_LIST' == key) continue;
                            if(res.data.beanInfo[key] && res.data.beanInfo[key].add){
                                addForm[key] = '';
                                addRules[key] = [];
                                addRules[key].push({type: "string", required: true, pattern: ''});
                            }
                            if(res.data.beanInfo[key] && res.data.beanInfo[key].edit){
                                editForm[key] = '';
                            }
                        }
                        this.modelAddForm = addForm;
                        this.modelEditForm = editForm;
                    }
                    console.log("add");
                    console.log(this.modelAddForm);
                    console.log("edit");
                    console.log(this.modelEditForm);
                }else{
                    console.error("请求无数据");
                }
            });
            //加载数据列表
            let param = {};
            sendRequest(that,'${domain}/api/v1/models/'+this.model.toLowerCase()+"/list",'POST',param,function(res){
               console.log(res);
               if(res.data){
            	   that.tableData = res.data.records;
                   that.currentPage = res.data.current;
                   that.totalCount = res.data.total;
                   that.pageSize = res.data.size;
               }else{
            	   console.error("请求无数据");
               }
               
            });
        }
    });
</script>